./Backend/node_modules
./Backend/dist
./Backend/.env
./Backend/.env.local
./Backend/.env.development
./Backend/.env.production
./Backend/.env.test
./Backend/.env.example
./Backend/.DS_Store


./Frontend/node_modules
./Frontend/.env
./Frontend/.env.local
./Frontend/.env.development
./Frontend/.env.production
./Frontend/.env.test
./Frontend/.env.example
./Frontend/.DS_Store

